beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
colored==1.4.0
colorlog==4.0.2
configparser==4.0.2
crayons==0.3.0
idna==2.8
lxml==4.4.1
paho-mqtt==1.4.0
requests==2.22.0
selenium==3.141.0
soupsieve==1.9.4
urllib3==1.25.6
webdriver-manager==2.2.0
